<ion-view view-title="点餐">
  <ion-nav-title>订单详情</ion-nav-title>
  <ion-content>
    <ion-slide-box  class="" auto-play="true" slide-interval="4000" does-continue="true" pager-click="pageClick(index)">
      <ion-slide>
        <div class="box blue"><img class="ps_slideBox" height="140px" width="290px" src="img/banner_1.jpg" alt=""></div>
      </ion-slide>
      <ion-slide>
        <div class="box yellow"><img class="ps_slideBox" height="140px" width="290px" src="img/banner_2.jpg" alt=""></div>
      </ion-slide>
      <ion-slide>
        <div class="box pink"><img class="ps_slideBox" height="140px" width="290px" src="img/banner_3.jpg" alt=""></div>
      </ion-slide>
      <ion-slide>
        <div class="box pink"><img class="ps_slideBox" height="140px" width="290px" src="img/banner_4.jpg" alt=""></div>
      </ion-slide>
    </ion-slide-box>

    <div>

    </div>
    <section>
      <div class="zt-details-title">
        <!--<h1>【老四川 五香卤汁牛肉228g】重庆特产牛肉干零食小吃中华老字号</h1>-->
        <h1>{{greenDetailsFn[0].greensDetailsName}}</h1>
      </div>
      <div class="sub">
        <div class="slogon"></div>
      </div>
    </section>

    <section id="s-price">
      <div class="item price-bar pnormal">
        <span class="mui-price big">
          <em class="happy1111title">价格</em>
          <i class="mui-price-rmb">¥</i>
          <span class="mui-price-integer">{{greenDetailsFn[0].greensDetailsPrice}}</span>
          <span class="mui-price-decimal"></span>
         </span>
      </div>
      <div class="item" style="white-space: inherit">
        <!--<span class="ui-price-wrap del">-->
          <!--菜品描述：鱼香肉丝（英文名：Stir-fried Pork Strips in Fish Sauce）是一道特色传统名菜，以鱼香调味而得名，属川菜。相传灵感来自老菜泡椒肉丝，民国年间由四川籍厨师创制而成。主料为猪肉、黑木耳，辅料因做法而各异，但多为胡萝卜、竹笋、辣椒等...-->
        <!--</span>-->
        <span class="ui-price-wrap del">
          {{greenDetailsFn[0].greensDetailsDescription}}
        </span>
      </div>
    </section>

  </ion-content>
  <footer class="zt-details-footer">
    <button>立即购买</button>
  </footer>
</ion-view>
