<ion-view view-title="点餐">
  <ion-nav-title>mess</ion-nav-title>
  <ion-content ng-controller="messCtrl">
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/logo.png">
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
      </div>

      <div class="item item-image">
        <img src="img/banner_1.jpg">
      </div>
      <a class="item item-icon-left assertive" href="#/shop">
        <i class="icon ion-music-note"></i>
        Start listening
      </a>
    </div>
  </ion-content>
</ion-view>
