<ion-view view-title="点餐" cache-view="false">
  <ion-nav-title>餐厅列表</ion-nav-title>
  <ion-content>
    <!--shopImg:'img/logo.png',-->
    <!--shopName:'黄焖鸡米饭',-->
    <!--shopDescription:'黄焖鸡蜜柑来自于'-->
    <div class="list zt-shop-list" ng-repeat="data in shopFn">
      <a class="item item-avatar" href="{{data.shopHref}}">
        <img src="{{data.shopImg}}">
        <h2>{{data.shopName}}</h2>
        <p>{{data.shopDescription}}</p>
      </a>
    </div>
    <!--<div class="list zt-shop-list">-->
      <!--<a class="item item-avatar" href="#/greens">-->
        <!--<img src="img/logo1.png">-->
        <!--<h2>店铺NO.2</h2>-->
        <!--<p>店铺NO.2很棒很棒很棒很棒</p>-->
      <!--</a>-->
    <!--</div>-->
  </ion-content>
</ion-view>
