<ion-view view-title="点餐">
  <ion-nav-title>mess</ion-nav-title>
  <ion-content ng-controller="shopCtrl">
    <div class="list zt-shop-list">
      <a class="item item-avatar" href="#/greens">
        <img src="img/logo.png">
        <h2>店铺NO.1</h2>
        <p>店铺NO.1很棒很棒很棒很棒</p>
      </a>
    </div>
    <div class="list zt-shop-list">
      <a class="item item-avatar" href="#/greens">
        <img src="img/logo1.png">
        <h2>店铺NO.2</h2>
        <p>店铺NO.2很棒很棒很棒很棒</p>
      </a>
    </div>
    <div class="list zt-shop-list">
      <a class="item item-avatar" href="#/greens">
        <img src="img/logo2.png">
        <h2>店铺NO.3</h2>
        <p>店铺NO.3很棒很棒很棒很棒</p>
      </a>
    </div>
    <div class="list zt-shop-list">
      <a class="item item-avatar" href="#/greens">
        <img src="img/logo3.png">
        <h2>店铺NO.4</h2>
        <p>店铺NO.4很棒很棒很棒很棒</p>
      </a>
    </div>
    <div class="list zt-shop-list">
      <a class="item item-avatar" href="#/greens">
        <img src="img/logo4.png">
        <h2>店铺NO.5</h2>
        <p>店铺NO.5很棒很棒很棒很棒</p>
      </a>
    </div>
  </ion-content>
</ion-view>
