<ion-view view-title="我的评价">
  <ion-content>
    <!--<h1>tab-comment</h1>-->
    <div class="list zt-comment-list">
      <a class="item item-thumbnail-left  zt-comment-list-a" href="javascript:;">
          <img  src="img/logo.png">
          <h2>黄焖鸡米饭<span class="zt-comment-location"><i class="nc-icon-glyph location_appointment"></i>南区2食堂</span></h2>
          <p class="zt-comment-p"><span class="zt-comment-favIcon"><i class="nc-icon-glyph ui-2_favourite-31"></i>5/5</span>我对黄焖鸡米饭的评价</p>
      </a>
    </div>
  </ion-content>
</ion-view>
