<ion-view view-title="我的订单">
  <ion-content class="padding zt-detailsilder">
    <ion-slide-box show-pager="false">
      <ion-slide  ng-repeat="data in detailData ">
        <div class="item item-image" style="padding: 30px;height:100%;background-color: rgb(47,46,47);width: 100%;">
          <h3 class="tem" style="color: #fff;font-size:1.8rem;"> 单价：{{data.detailprice}}￥</h3>
          <img style="height: 70%; width: 70%" src="{{data.detailImg}}">
          <h3 class="tem " style="color: #fff;font-size:1.8rem;">{{data.detailName}}</h3>
          <h2 class="text-center" style="color: #fff;font-size:1rem;">取货码:{{data.detailgetCode}}</h2>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
