<ion-view view-title="我的评价">
  <ion-content>
    <!--<h1>tab-comment</h1>-->
    <div class="list zt-comment-list" ng-repeat="data in commentFn">
      <a class="item item-thumbnail-left  zt-comment-list-a" href="javascript:;">
          <img  src="{{data.commentImg}}">
          <h2>{{data.commentNickname}}<span class="zt-comment-location"><i class="nc-icon-glyph location_appointment"></i>{{data.commentShopPlace}}</span></h2>
          <p class="zt-comment-p"><span class="zt-comment-favIcon"><i class="nc-icon-glyph ui-2_favourite-31"></i>{{data.commentStar}}/5</span>{{data.commentText}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>
