<ion-view view-title="首页">
  <ion-content class="zt-home-content">
		<ion-slide-box  class="zt-home-slider" auto-play="true" slide-interval="4000" does-continue="true" pager-click="pageClick(index)">
		  <ion-slide>
        <div class="box"><a href=""><img class="ps_slideBox" height="140px" width="290px" src="img/banner_1.jpg" alt=""></a></div>
		  </ion-slide>
		  <ion-slide>
		    <div class="box"><a href=""><img class="ps_slideBox" height="140px" width="290px" src="img/banner_2.jpg" alt=""></a></div>
		  </ion-slide>
		  <ion-slide>
		    <div class="box"><a href=""><img class="ps_slideBox" height="140px" width="290px" src="img/banner_3.jpg" alt=""></a></div>
		  </ion-slide>
		  <ion-slide>
		    <div class="box"><a href=""><img class="ps_slideBox" height="140px" width="290px" src="img/banner_4.jpg" alt=""></a></div>
		  </ion-slide>
		</ion-slide-box>

    <div class="bgstyle indexsub">
      <ul>
        <li class="s1"><a href="#/tab/order" >
          <div class="subtype">
            <em> 你吃了吗 </em>
          </div></a>
        </li>
        <li class="s2"><a href="javascript:;" >
          <div class="subtype">
            <em>消费记录</em>
          </div></a>
        </li>
        <li class="s3"><a href="javascript:;">
          <div class="subtype">
            <em>你在哪里</em>
          </div></a>
        </li>
        <li class="s4"><a href="javascript:;">
          <div class="subtype">
            <em>我要吐槽</em>
          </div></a>
        </li>
        <li class="s2"><a href="javascript:;">
          <div class="subtype">
            <em>有什么吃</em>
          </div></a>
        </li>
        <li class="s3"><a href="javascript:;">
          <div class="subtype">
            <em>我的信息</em>
          </div></a>
        </li>
      </ul>
    </div>

    <!-- 热门商品 -->
    <div class="indexhot">
      <div class="titlestyle">
        <strong>热门商品</strong><span class="fr" style="color:#666;font-weight:normal;"></span>
      </div>
      <div class="indexgoodslist clearfix">
        <div class="hotswiper">
          <ul class="swiper-wrapper">
            <li class="swiper-slide bgstyle" ng-repeat="data in homePageFn">
              <a href="{{data.greensHref}}">
                <span class="pic zt-hotGreens-list"><img src="{{data.greensImg}}" alt="点击查看详情"  height="80px" width="100px"/></span>
                <span class="name">{{data.greensName}} </span>
                <span class="name"><em>单价：</em><font color="#00CC33">{{data.greensPrice}}</font>元</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
