<ion-view view-title="首页">
  <ion-content class="zt-home-content">
		<ion-slide-box  class="zt-home-slider" auto-play="true" slide-interval="4000" does-continue="true" pager-click="pageClick(index)">
		  <ion-slide>
		    <div class="box blue"><img class="ps_slideBox" height="140px" width="290px" src="img/banner_1.jpg" alt=""></div>
		  </ion-slide>
		  <ion-slide>
		    <div class="box yellow"><img class="ps_slideBox" height="140px" width="290px" src="img/banner_2.jpg" alt=""></div>
		  </ion-slide>
		  <ion-slide>
		    <div class="box pink"><img class="ps_slideBox" height="140px" width="290px" src="img/banner_3.jpg" alt=""></div>
		  </ion-slide>
		  <ion-slide>
		    <div class="box pink"><img class="ps_slideBox" height="140px" width="290px" src="img/banner_4.jpg" alt=""></div>
		  </ion-slide>
		</ion-slide-box>

    <div class="bgstyle indexsub">
      <ul>
        <li class="s1"><a href="javascript:;">
          <div class="subtype">
            <em> 你吃了吗 </em>
          </div></a>
        </li>
        <li class="s2"><a href="javascript:;">
          <div class="subtype">
            <em>消费记录</em>
          </div></a>
        </li>
        <li class="s3"><a href="javascript:;">
          <div class="subtype">
            <em>你在哪里</em>
          </div></a>
        </li>
        <li class="s4"><a href="javascript:;">
          <div class="subtype">
            <em>我要吐槽</em>
          </div></a>
        </li>
        <li class="s2"><a href="javascript:;">
          <div class="subtype">
            <em>有什么吃</em>
          </div></a>
        </li>
        <li class="s3"><a href="javascript:;">
          <div class="subtype">
            <em>我的信息</em>
          </div></a>
        </li>
      </ul>
    </div>
  </ion-content>


</ion-view>
