/* Empty. Add your own CSS if you like */
.zt-home-content>div.scroll{
  height:30%;
  width: 100%;
}
.zt-home-slider{
  height:100%;
}
ion-slide-box.zt-home-slider ion-slide div.box>a>img{
  height: 100px;
  width:100%;
}

.zt-home-slider>div.slider-pager{
  bottom: 7px;
}
.zt-tabs>.tab-nav{
  background: #FF6600;
}

ion-side-menu-content>ion-nav-bar>div.nav-bar-block>ion-header-bar{
  background: #FF6600 !important;
}
.zt-comment-list,.zt-comment-list-a{
  height:80px;
}
.zt-comment-list{
  height:79px;
  border-bottom: 1px #efeff4 solid;
}
div.zt-comment-list>a.zt-comment-list-a>img{
  height:64px ;
  width:64px;
  border-radius: 50%;
  border:1px solid #e5e5e5;
}

.zt-comment-favIcon{
  color: #F5A623;
  margin-right: 0.3rem;
}
.zt-pace-bgcolor{
  background-color: #FF6600 !important;
}
zt-pace-fontcolor{
  color: #FF6600 !important;
}

p.zt-comment-p{
  /*width: 100%;*/
  /*min-height: 22px;*/
  /*max-height: 44px;*/
  display: box;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Microsoft YaHei","PingFangSC-Semibold","Helvetica Neue","微軟正黑體","Helvetica Neue","Arial","sans-serif";
  font-weight: 700;
  word-wrap: break-word;
  word-break: break-all;
}

span.zt-comment-location{
  margin-left:12px ;
}
span.zt-comment-location>i{
  color: #7C4E2F;
}
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated{
  color: #7C4E2F;
}

div.zt-login-list>div.item-input-inset>label.item-input-wrapper>input,div.zt-register-list>div.item-input-inset>label.item-input-wrapper>input{
  background: #fff;
}
div.zt-login-list>div.item-input-inset,div.zt-register-list>div.item-input-inset{
  border:1px solid #e4e5e7;
}

.zt-login-icon,.zt-register-icon{
  margin-right: 0.5rem;
}
.zt-login-label,.zt-register-label{
  width:30%;
}

.mui-table-view-cell>a:not(.mui-btn) {
  position: relative;
  display: block;
  overflow: hidden;
  margin: -11px -15px;
  padding: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: inherit;
}

div.zt-center-userinfo{
  margin:34px 0 38px 30px;height:70px
}
img.zt-center-avaterFace {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 0 2px #b0b0b0
}

div.zt-center-avaterInfoFace {
  float: left;
  margin-right: 30px;
  width: 70px;
  height: 70px
}

div.zt-center-avaterInfo {
  float: left;
  width: 115px;
  height: 70px
}

div.zt-center-avaterInfo>p {
  margin-bottom: 2px;
  height: 23.33px;
  width:165px;
}

a.zt-daysignin {
  position: relative
}
.zt-center-msgul{
  height:250px;
  border-top:1px solid #e5e5e5;
}


.zt-center-msgli{
  height: 50px;
  border-bottom: 1px solid #E5E5E5;
}
.zt-center-msgli>a{
  position: relative;
  overflow: hidden;
  margin: -11px -15px;
  padding: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: inherit;
}
ul.zt-center-msgul>li>a {
  height: 50px;
  line-height: 50px;
}
ul.zt-center-msgul>li>a{
  padding-left: 55px;
  white-space: normal;
}
.zt-setting-icon{
  margin-right:20px;
}

.zt-center-loginout{
  margin-top: 66px;
}
ul>li.zt-center-logout>a{
  padding-left:0px;
}

.zt-shop-list{
  border-bottom:1px solid #e5e5e5;
}


.zt-greens-lista{
  height:100px;
}
.zt-details-title h1{
  padding: 0 10px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  flex-basis: auto;
  display: block;
  flex-basis: 1px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  overflow: hidden;
  -webkit-box-pack: center;
  line-height: 1.35em;
  height: 3em;
  font-size: 14px;
  color: #051B28;
}
.zt-details-footer{
  position:fixed;
  bottom:0px;
  height:50px;
  width:100%;
}
.zt-details-footer>button{
  width:100%;
  height:100%;
  list-style:none;
  background: #FF6600;
  color:#fff;
}
.user-button-long{
  width: 80px;
}
.ps_slideBox{
   width: 100%;
   height: 140px;
 }
span.zt-hotGreens-list{
  height:50px !important;
}
span.zt-hotGreens-list>img{
  height:50px;
  width:100%;
}
div.zt-alert-red{
  color:red;
}

div.zt-register-alert{
   color: #761c19;
   width:100%;
   height: 30px;
   line-height: 30px;
   margin-top:30px;
   margin-left: 25px;
 }


div.zt-changeAlartBingo, div.zt-changeAlartError {
  position: absolute;
  top: 114px;
  z-index: 10;
   /*display: none;*/
  width: 100%;
  height: 40px;
  color: #FFF;
  text-align: center;
  letter-spacing: 0;
  font-size: 16px;
  line-height: 40px;
}
.zt-alert-box {
  margin: 0 auto;
  padding: 9px 23px;
  border-radius: 100px;
  background: #482929;
}

.zt-star-size{
  height:30px;
  width: 30px;
}
.zt-eva-textarea{
  height:300px;
  border:1px solid #e6e6e6;

}
.zt-eva-textarea,.zt-eva-button{
  width:100%;
}
